a {
    transition: color 0.3s;
}

#header .header-top a[data-depth="0"] {
    position: relative
}

    #header .header-top a[data-depth="0"]::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #B481C8;
        transition: transform 0.5s ease
    }

    #header .header-top a[data-depth="0"]:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left
    }

.top-menu a[data-depth="2"] {
    color: #47AC47 !important
}

    .top-menu a[data-depth="2"]:hover {
        color: #B481C8 !important;
        transition: color 0.5s
    }

    .top-menu a[data-depth="2"]:before, .footer-container li a:before, .texto-footer li:before {
        font-family: Material Icons;
        content: "\e315";
        vertical-align: middle;
        font-size: 18px;
        position: relative;
        left: -3px;
        opacity: 0;
        transition: all 0.4s 0.1s;
    }

    .top-menu a[data-depth="2"]:hover:before, .footer-container li a:hover:before {
        opacity: 1;
        left: 8px;
        transition-delay: 0s;
    }

.footer-container li a:before {
    position: absolute;
    left: -5px
}

.footer-container li a:hover:before {
    left: 2px;
    transition-delay: 0s;
}

.block-categories .category-sub-menu li:not([data-depth="0"]):not([data-depth="1"]):before {
    content: "-";
    margin-right: 0;
    visibility: hidden
}

#category-54 {
    clear: left
}

.block-categories .category-sub-menu .category-sub-link:hover {
    color: #47AC47
}

.block-categories .category-sub-menu li[data-depth="2"] .category-sub-link:hover {
    color: #B481C8
}

.tabs .nav-tabs .nav-link:active:hover {
    color: #B481C8
}

#CountDown, .dateCountdown {
    font-weight: 700
}

#CountDown {
    color: #47AC47
}

.countdown, #cart p#loyalty {
    border: 1px solid #b481c866;
    padding: .5rem .2rem;
    border-radius: 15px 2px;
    text-align: center;
    background: #fff
}

#cart p#loyalty {
    margin-bottom: 0
}

#cart .countdown {
    margin: .5rem
}

.avisoFB {
    font-size: .7rem;
    display: none
}

.product-images > li.thumb-container > .thumb.selected {
    border-radius: 5px
}

.product-images > li.thumb-container > .thumb:hover {
    border-radius: 15px
}

.product-price-and-shipping .discount-percentage {
    border-radius: 15px
}

#wrapper .breadcrumb li a:hover {
    color: #47AC47
}

#menu-icon .remove {
    display: none
}

#menu-icon .collapse-icons[aria-expanded=true] .remove {
    display: inline-block
}

#menu-icon .collapse-icons[aria-expanded=true] .add {
    display: none
}

#header .header-nav #search-icon .material-icons {
    line-height: 50px;
    padding-left: .75rem
}

.block_newsletter .btn-primary {
    border-radius: 0
}

#content-wrapper .tabs {
    float: left;
    width: 50%;
    border: 1px solid #B481C866
}

#mobile_top_menu_wrapper {
    max-height: calc(100vh - 50px)
}

#block-reassurance span {
    font-weight: 400
}

#header .header-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1061;
    max-height: 52px;
    background: #fff
}

#products .thumbnail-container:hover, .featured-products .thumbnail-container:hover, .product-accessories .thumbnail-container:hover, .product-miniature .thumbnail-container:hover {
    box-shadow: 0 0 10px 1px #47AC47
}

.modal-dialog {
    margin: 70px auto
}

.block-social li {
    padding: 1.43rem;
    border-radius: 50%;
    background-position: center;
    transition: transform 0.3s
}

    .block-social li:hover {
        transform: scale(1.1);
    }

    .block-social li.facebook {
        background-color: #4267b2
    }

    .block-social li.whatsapp {
        background-color: #25d366
    }

.whatsapp {
    background-image: url(../css/whatsapp-logo.svg)
}

.icon-sale {
    background-image: url(../css/sale.svg)
}

.icon-gift {
    background-image: url(../css/gift.svg)
}

.icon-account-heart {
    background-image: url(../css/account-heart.svg)
}

.icon-trophy {
    background-image: url(../css/trophy.svg)
}

.icon-lock-open {
    background-image: url(../css/lock-open.svg)
}

.icon-sale, .icon-gift, .icon-account-heart, .icon-trophy, .icon-lock-open {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px
}

.ui-autocomplete {
    display: none !important
}

#search .ui-autocomplete {
    display: block !important
}

#block-reassurance, .blockreassurance_product {
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 5px 30px;
    border: 1px solid #b481c866
}

.blockreassurance_product {
    float: right;
    width: 48%;
    padding: 1.25rem 1.875rem;
    margin-top: 2rem
}

    .blockreassurance_product .block-title {
        color: #363 !important;
        font-weight: 700
    }

    .blockreassurance_product div:not(.clearfix) {
        padding: .3rem;
        margin: .5rem 0;
        transition: border-radius,box-shadow 500ms
    }

        .blockreassurance_product div:not(.clearfix):hover {
            border-radius: 10px;
            box-shadow: 3px 3px 15px -3px #a88eb3
        }

    .blockreassurance_product p {
        margin-bottom: 0
    }

#cart .blockreassurance_product, #checkout .blockreassurance_product {
    width: 100%
}

.text-home {
    margin-bottom: 1rem;
    text-align: center;
    border-top: 4px double;
    border-bottom: 4px double;
    padding-top: 1rem;
    border-radius: 18px;
    width: 85%;
    margin-left: 7%
}

    .text-home p {
        color: inherit
    }

.social-login {
    display: none
}

#social-login {
    cursor: pointer;
    color: #7a7a7a
}

#module-xipblog-archive .page-footer {
    display: inline-block;
    width: 100%
}

.scrollTop {
    padding: .75rem 0;
    margin-bottom: 1.75rem;
    background: #ececec;
    text-align: center
}

    .scrollTop a {
        border-radius: 15px 5px;
        text-transform: none
    }

        .scrollTop a:hover {
            color: #47AC47;
            background-color: #f6f6f6
        }

#products .page-not-found .col-md-4 {
    float: none
}

.addthis_inline_share_toolbox {
    text-align: center;
    clear: right !important
}

#product .addthis_inline_share_toolbox {
    padding-top: 2rem
}

.page-cms-4 {
    background: #ffffffde !important
}

.sobre-nosotros {
    background: url(/img/cms/campo-lavanda-md.jpg) center center no-repeat !important;
    background-size: cover !important
}

#pagenotfound .page-not-found span {
    display: none
}

#product .add-to-cart {
    position: relative;
    outline: none;
    overflow: hidden
}

    #product .add-to-cart i, #product .add-to-cart span {
        position: relative
    }

    #product .add-to-cart:hover {
        background-color: #363
    }

    #product .add-to-cart::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side,#47AC47,transparent);
        transform: translate(-50%,-50%);
        transition: width 0.2s ease,height 0.2s ease
    }

    #product .add-to-cart:hover::before{
        --size: 300px
    }

.avatar {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #47ac47;
    display: block;
    margin: auto
}

#header .header-top .position-static {
    padding: 0
}

.contact-link a i {
    font-size: 1.3rem;
    vertical-align: top
}

.table-shipping {
    width: 75%;
    height: 286px;
    border: 5px double;
    text-align: center
}

    .table-shipping td {
        border: 2px solid
    }

    .table-shipping strong {
        letter-spacing: 5px
    }

    .table-shipping span {
        color: #000
    }

#favoriteproducts_block_account h2 {
    margin-bottom: 1rem
}

.texto-footer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px 5px;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    background: #d6ecd6;
    border: 1px dotted #363;
    box-shadow: 0 0 4px #47ac47;
    margin: 1rem auto
}

.texto-footer li {
    margin: 0.5rem 0;
}

    .texto-footer h6 {
        text-align: center;
        line-height: 1.5
    }

    .texto-footer > div {
        width: 320px;
        margin: 1rem auto;
        border: 2px double #b481c8;
        padding: .5rem;
        background: white;
        transition: box-shadow 0.4s ease-in-out
    }

        .texto-footer > div a, .texto-footer > div a:hover {
            color: #232323
        }

        .texto-footer > div:hover {
            box-shadow: inset 0 0 9px #B481C8
        }

    .texto-footer span {
        line-height: 1.5
    }

.icon-apple, .icon-plant, .icon-cosmetic {
    padding: 4rem;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    background-position: center
}

.icon-apple {
    background-image: url(../css/apple.svg)
}

.icon-plant {
    background-image: url(../css/plant.svg)
}

.icon-cosmetic {
    background-image: url(../css/cosmetic.svg)
}

.texto-footer ul {
    text-align: left;
    margin-left: 15px
}

.texto-footer li a {
    color: #232323;
    transition: color 0.4s;
}

.texto-footer a:hover {
    color: #B481C8;
}

.texto-footer li:before {
    opacity: 1;
    color: #363
}

.texto-footer li:hover:before {
    left: 5px;
    color: #B481C8;
}

.page_title_area {
    margin-top: 10px
}

#cart .product-actions .control-labels, #cart .product-quantity .qty, #cart #product-availability, #cart .product-actions .control-label,
    #cms .product-actions .control-labels, #cms .product-quantity .qty, #cms #product-availability, #cms .product-actions .control-label {
    display: none
}

#cart .product-quantity .add, #cms .product-quantity .add {
    position: absolute;
    bottom: 1px;
    left: 7px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out
}

#cart .product-miniature .thumbnail-container:hover .add, #cms .product-miniature .thumbnail-container:hover .add {
    z-index: 1;
    opacity: 1
}

.displayCart {
    display: none
}

#cart .displayCart, #cms .displayCart {
    display: block
}

.loader {
    display: none;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin-right: .625rem;
    vertical-align: middle
}

.loading .loader {
    display: inline-block
}

.loading .shopping-cart {
    display: none
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(.5,0,.5,1) infinite;
    border-color: #fff transparent transparent transparent
}

    .loader div:nth-child(1) {
        animation-delay: -0.45s
    }

    .loader div:nth-child(2) {
        animation-delay: -0.3s
    }

    .loader div:nth-child(3) {
        animation-delay: -0.15s
    }

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.product-cover img {
    border: 1px solid #B481C866
}

.search-widget form input[type=text] {
    border: 1px solid #B481C885
}

button[type=submit] .material-icons {
    cursor: pointer
}

.page-cms #main ul, .product-description ul, .blog_post ul {
    list-style: disc;
    margin-left: 15px;
    padding-left: 10px
}

#blog_post .btn-primary, .page-cms .btn-default {
    text-transform: none;
    background-color: transparent;
    color: #363;
    padding: .3rem;
    box-shadow: 0 0 5px 1px #b481c87a;
    border-radius: 5px;
    transition: all 0.5s;
}

    #blog_post .btn-primary:hover, .page-cms .btn-default:hover {
        color: #fff;
        background-color: #47AC47;
    }

#blog_post h2, #blog_post h3, #blog_post h4 {
    color: #363
}

.portada-plan-21 {
    max-width: calc(100% + 2.5rem);
    height: auto;
    margin: -1.25rem -1.25rem 1.25rem
}

.img-plan-21 {
    transition: all 0.5s
}

    .img-plan-21:hover {
        box-shadow: 0 0 12px 0 #47AC47;
        border-radius: 20px
    }

.product-actions .btn.add-to-cart {
    border-radius: 2px 12px;
}

#block-history {
    margin-bottom: 1rem;
}

/* Wishlist */

.btn-wishlist {
    display: inline-block;
    position: relative;
    padding: 0.4rem;
    border: none;
    box-shadow: 2px 2px 6px -3px;
    transition: box-shadow 0.2s linear 0.2s;
}

.btn-wishlist:hover {
    box-shadow: none;
}

.btn .btn-wishlist span {
    display: block;
}

.btn-wishlist::before, .btn-wishlist::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear 0.2s;
    background: #B481C8;
}

.btn-wishlist::before {
    right: 0;
    top: 0;
}

.btn-wishlist::after {
    left: 0;
    bottom: 0;
}

.btn-wishlist span::before, .btn-wishlist span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear 0s;
    background: #B481C8;
}

.btn-wishlist span::before {
    left: 0;
    top: 0;
}

.btn-wishlist span::after {
    right: 0;
    bottom: 0;
}

.btn-wishlist:hover::before, .btn-wishlist:hover::after {
    width: 100%;
    transition-delay: 0s;
}

.btn-wishlist:hover span::before, .btn-wishlist:hover span::after {
    height: 100%;
    transition-delay: 0.2s;
}

#wishlist_button {
    cursor: pointer;
}

.wishlist-list-add {
    margin: 0;
    padding: 0 10px 0 0;
}

    .wishlist-list-add li {
        cursor: pointer;
        padding: 4px 0;
        margin-left: -4px;
    }

        .wishlist-list-add li:hover {
            color: #0bb8fd;
        }

        .wishlist-list-add li i {
            vertical-align: middle;
            margin-top: -3px;
        }

.btn-newWishlist {
    padding: 0;
    margin-bottom: 1rem;
}

#mywishlist table {
    margin-bottom: 0;
    text-align: center;
}
    #mywishlist table thead, #mywishlist table tbody {
        background-color: #fff;
    }

    #mywishlist table thead th {
        text-align: center;
        padding: 1rem 2rem;
    }

wlp_bought_list {
    margin: auto;
}

.wishlist_product_detail {
    text-align: center;
}

.product_infos.product-actions {
    margin: 0.5rem 0 2rem 0;
}

/* END Wishlist*/


.page-my-account #content .links a span.link-item {
    transition: box-shadow 0.4s;
}
.page-my-account #content .links a:hover span.link-item {
    box-shadow: 0px 3px 15px -2px #b481c8;
}

.page-my-account #content .links a {
    transition: color 0.3s;
}

    .page-my-account #content .links a .link-item i {
        color: #363;
        transition: color 0.3s;
    }
    .page-my-account #content .links a:hover .link-item i {
        color: #47AC47;
    }


p[id^="more-info"] {
    display: none;
    font-size: 0.8rem;
}
p[id^="more-info"] a {
    font-weight: bold;
}

.dateCountdown p {
    margin-bottom: 0;
}

a[id^="btn-toggle-info"] {
    font-size: 0.8rem;
}

a[id^="btn-toggle-info"] i {
    float: left;
    font-size: 1.2rem;
}

.top-menu .popover.sub-menu {
    box-shadow: 5px 5px 12px 0 rgba(51, 102, 51, 0.3);
}

#cms .featured-products .products {
    justify-content: center;
}

body#checkout section.checkout-step div.forgot-password {
    margin-left: 0;
}
#checkout .delivery-option img {
    max-width: 100%;
}

.wishlistLinkTop .product_image {
    margin: 0.5rem 0;
}
.wishlistLinkTop .product_infos {
    font-size: 0.8rem;
    text-align: center;
}

.wlp_bought .product_image img {
    margin: auto;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    transition: box-shadow 0.4s ease-in-out;
}

    .wlp_bought .product_image img:hover {
        box-shadow: 0 0 10px 1px #47ac47;
    }

.blog-footer {
    width: 100%;
    padding: 2rem;
    background: #e8e8e8;
}
.blog-footer .row {
    margin: 0 2rem;
}
.blog-footer .all-blogs-link{
    margin-top: 1rem;
}

#module-xipblog-archive .blog-footer {
    display: none;
}

.xipblog_submit_btn {
    margin-bottom: 2rem;
}

@media(max-width:359px) {
    #header .header-nav .top-logo a img {
        max-width: 86%
    }

    #header .header-nav .top-logo {
        max-width: 154px
    }
}

@media(max-width:767px) { 
    #header .header-top {
        position: fixed;
        z-index: 10;
        top: 51px;
        width: 100%
    }

    #checkout #header .header-top {
        position: relative
    }

    #header #search_widget {
        display: none
    }

    #header .header-top .search-widget {
        float: none
    }

    #content-wrapper .tabs {
        width: 100%
    }

    #product #block-reassurance {
        width: 100%
    }

    .social-sharing {
        width: 100%
    }

    #sticky-logo {
        display: none !important
    }

    #header .header-nav .user-info .account {
        margin-left: 0
    }

    .slick-prev, .slick-next {
        display: none !important
    }

    .js-cart {
        margin-top: 1rem
    }

    #mobile_top_menu_wrapper .js-top-menu-bottom a {
        display: block;
        text-align: center;
        padding: .3rem 0
    }

    #module-lgcomments-account .std td {
        display: block
    }

    .avatar {
        width: 255px;
        height: auto
    }

    .page-cms .featured-products {
        clear: both;
    }

    .clearfix-sm-down {
        display: block;
        clear: both;
    }

    .blockreassurance_product
    {
        width: 100%;
    }
    #cart .blockreassurance_product {
        margin-bottom: 2rem;
    }
}

@media(max-width:991px) {
    #header .header-nav .user-info .logged {
        color: #47AC47
    }

    #cart .featured-products .products-section-title {
        margin-top: 1rem
    }

    #cart .featured-products {
        clear: both
    }
    .blog-footer {
        padding: 1rem;
    }
    .blog-footer .row {
        margin: 1rem;
    }
}

@media(min-width:768px) AND (max-width:991px) {
    .hidden-md {
        display: none !important
    }

    .show-md {
        display: block
    }

    .header-nav .col-md-5 {
        width: 55%
    }

    .header-nav .col-md-7 {
        width: 45%
    }
}

@media(min-width:768px) AND (max-width:1099px) {
    .carousel .carousel-inner {
        height: 213px
    }

    #header .header-top .search-widget {
        margin-bottom: 20px
    }
}

@media(min-width:768px) {
    .top-menu .sub-menu ul[data-depth="1"] > li {
        width: 20%
    }

    #header .header-top {
        padding-top: 60px
    }

    #header .header-nav {
        max-height: 57px
    }

    .sticky {
        position: fixed;
        top: 3px;
        left: 38vw;
        z-index: 1062
    }

    #sticky-logo {
        display: none;
        position: fixed;
        top: 1px;
        left: 25px;
        z-index: 10
    }

    #header .header-top .search-widget {
        margin-top: 20px
    }

    #sticky-search {
        margin-top: .9375rem;
        cursor: pointer
    }

        #sticky-search i {
            color: #232323
        }

        #sticky-search:hover i {
            color: #B481C8
        }

    .sticky-cat {
        position: fixed !important;
        z-index: 10;
        background: white;
        left: -5px;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 100%
    }

    #top-menu {
        margin-bottom: 0
    }

    #index #block-reassurance li {
        padding-left: 5%;
        border-bottom: 0
    }

    #header .header-top .search-widget {
        float: left;
        padding-left: 9%
    }

    .avatar {
        float: right;
        margin-left: 1rem
    }

    .new-wishlist .inputTxt, .wl_send .form-control {
        width: 40%;
    }

    .clearfix-sm-down {
        display: none;
    }

}

@media(min-width:992px) {
    #category-description {
        width: 83%
    }

    .cart-grid-right {
        float: right
    }

    #cart .featured-products .products-section-title {
        margin: 5rem 3.5rem 1.5rem 0
    }

    #cart .featured-products .products {
        margin-left: 3.5rem
    }

    .top-menu .popover {
        border-radius: 30px 5px
    }
}

@media(min-width:1099px) {
    .carousel .carousel-item .caption {
        bottom: 85px;
        left: 44px
    }

    ::-webkit-scrollbar {
        width: 10px
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #B481C8;
        border-radius: 10px 0 0 10px
    }

    ::-webkit-scrollbar-thumb {
        background: #336633b5;
        border-radius: 10px 0 0 10px
    }

        ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
            background: #363
        }
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 100%
}

#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px
}

#mergeRow-gdpr {
    margin-top: 20px
}

    #mergeRow-gdpr fieldset label {
        font-weight: 400
    }

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0;
    padding-bottom: 0
}

#mc_embed_signup input.email {
    height: 42px !important
}


/*** MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ ***/

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

/** END MAILCHIMP **/